@charset "utf-8";

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body{
    background: url('../imagens/fundo-madeira.jpg') center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

 main{
    position: relative;
    height: 100vh;
 }

 section#phone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);

    height: 550px;
    width: 311px;
    background: url('../imagens/frame-iphone.png') no-repeat;
    background-size: contain;
 }

 iframe#cel{
    position: relative;
    top: 70px;
    left: 19px;
    width: 235px;
    height: 414px;
    border-radius: 3px;
 }

 section#social{
    text-align: right;
 }

 a{
    text-decoration: none;
 }

 img{
    width: 50px;
    height: 50px;
    margin: 5px;
    border-radius: 50%;
    box-shadow: 4px 3px 6px rgba(0, 0, 0, 0.5);
 }

 img:hover{
    transition: 0.1s;
    border: 6px solid transparent;
    transform: translate(-15px);
 }